{% extends 'cmg/base.html' %}
{% load static%}
{% block content %} 

<!-- carrousel -->
<ion-card>
<div class="container">
  <div class="slider">
    <div class="box1">
      <h1 style="color: rgb(93, 31, 238);" >Nuestros Servicios:</h1>
      <h2 style="color: rgb(21, 40, 126);">Ofrecemos una amplia gama de servicios médicos que abarcan desde consultas generales hasta especialidades avanzadas. Desde la prevención hasta el tratamiento, estamos aquí para cuidarte en todas las etapas de tu vida.</h2>
    </div>
    <div class="box2">
      <h1 style="color: rgb(93, 31, 238);">Compromiso con la Excelencia:</h1>
      <h2 style="color: rgb(21, 40, 126);">En Galenos, nos enorgullece mantener los más altos estándares de atención médica. Nuestras instalaciones cuentan con tecnología de vanguardia y seguimos las mejores prácticas de la industria para garantizar tu seguridad y comodidad.</h2>
    </div>
    <div class="box3">
      <h1 style="color: rgb(93, 31, 238);">Equipo Profesional:</h1>
      <h2 style="color: rgb(0, 32, 177);">Contamos con un equipo multidisciplinario de médicos, enfermeras y personal de apoyo dedicado a brindarte atención médica de calidad. Trabajamos juntos para garantizar un enfoque integral y coordinado para tu salud.</h2>
    </div>
    <div class="box4">
      <h1 style="color: rgb(93, 31, 238);">Tu Salud, Nuestra Prioridad:</h1>
      <h2 style="color: rgb(21, 40, 126);">En Galenos, cada paciente es único. Nos esforzamos por comprender tus necesidades individuales y trabajar contigo para desarrollar un plan de atención personalizado. Tu salud es nuestra máxima prioridad.</h2>
    </div>
    <div class="box5">
      <h1 style="color: rgb(93, 31, 238);">Contáctanos:</h1>
      <h2 style="color: rgb(21, 40, 126);">Estamos aquí para responder a tus preguntas y proporcionar la atención que mereces. Contáctanos hoy mismo para programar una cita o conocer más sobre cómo Galenos puede cuidar de ti y tu familia.

        Confía en Galenos, tu socio de confianza en el camino hacia una vida saludable.</h2>
    </div>
    <div class="box6">
      <h1 style="color: rgb(93, 31, 238);">¡Agenda tu hora hoy!</h1>
      <h2 style="color: rgb(21, 40, 126);"></h2>
    </div>
    <div class="box7">
      <h1 style="color: rgb(93, 31, 238);">Centro Médico Galenos</h1>
      <h2 style="color: rgb(21, 40, 126);"></h2>
    </div>
  </div>
</div>
</ion-card>

  <ion-card>
  <ion-card-content>
    <ion-text color="primary">
      <p></p>
    </ion-text>
  </ion-card-content>
  
</ion-card>
{% endblock %}
