{% extends 'cmg/base.html' %}
{%load static%}
{% block content %} 
    <div class="container">
        <h1 style="text-align: center !important;">
            Solicitar hora médica
        </h1>
        {% if form %}
        <form method="POST" action="" enctype="multipart/form-data" id="formulario">
            <div class="form-group">
                {% csrf_token %} {{ form.as_p }}
            </div>
            <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
            <!-- <input type="reset" class="btn btn-primary btnwidth" id="id_nuevo" value="Nuevo"> -->
            <a class="btn btn-success btnwidth" href="{% url 'reservar_hora' 'ins' -1 %}">Nuevo</a>
            {% if id != '-1' %}
            <a class="btn btn-danger btnwidth" href="{% url 'reservar_hora' 'del' id %}">Eliminar</a>
            {% endif %}
            <a class="btn btn-info btnwidth" href="{% url 'home' %}">Inicio</a>
            {% if mesg %}
            <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
            {% endif %}
        </form>
        {% endif %}
        <a href="{% url 'poblar_bd' %}" class="btn btn-info btn-sm">Generar Categorías</a>
{% endblock %}